@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');

body{
  background-color: #A7CAB1;
  text-align: center;
  color: #FF7F11;
  font-family: 'Baloo Bhaina', cursive;
}

div, button, img{
  border-radius: 5em 4em 8em 14em / 2em 20em 8em 10em;
    -moz-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
    -webkit-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
  position:relative;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  width: 450px;
  position:relative;
  z-index: 2;
  background-color: none;
}

.cell {
  flex: 0 0 33%;
  height: 150px;
  width: 150px;
  margin-bottom: 1px;
  background-color: #7586B7;
}

img {
  height:130px;
  width: 130px;
  margin: 10px auto;
}

.instructions, .scoreboard{
  border: black;
  height: 500px;
  width: 240px;
  float: top;
  margin: 10px;
  padding: 5px;
  clear: both;

}

.instructions{
  float: left;
  background-color: #4B5675;
  left: 10px;
  position: fixed;
}


.scoreboard{
  float: right;
  background-color: rgba(135, 64, 130, 0.71);
  position:absolute;
  right: 10px;
  position:fixed;
}

.notification{
  font-size: 50px;
  color: white;
}

table {
    width: 100%;
}

button {
  font-family: 'Baloo Bhaina', cursive;
	font-size: 15px;
	padding: 10px 20px;
  margin: 5px;
	border: 2px solid;
}
