@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');

body{
  background-color: #A7CAB1;
  text-align: center;
  color: #FF7F11;
  font-family: 'Baloo Bhaina', cursive;
}

.grid {
  display: flex;                       /* establish flex container */
  flex-wrap: wrap;                     /* enable flex items to wrap */
  justify-content: space-around;
  margin: 0 auto;
  width: 450px;
  position:relative;
  z-index: 2;
  background-color: none;

}

.win {
  display: flex;                       /* establish flex container */
  flex-wrap: wrap;                     /* enable flex items to wrap */
  justify-content: space-around;
  margin: 0 auto;
  width: 450px;
  height: 450px;
  color: black;
  background-color: none;
  position:relative;
  z-index: 99 !important;
}
.cell {
  flex: 0 0 33%;               /* don't grow, don't shrink, width */
  height: 150px;
  width: 150px;
  margin-bottom: 1px;
  background-color: #7586B7;
  border-radius: 5em 4em 8em 14em / 2em 20em 8em 10em;
    -moz-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
    -webkit-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
  position:relative;

}

img {
  height:130px;
  width: 130px;
  margin: 10px auto;
}

.instructions {
  float: left;
  border: black;
  height: 400px;
  width: 250px;
  float: top;
  background-color: #4B5675;
  border-radius: 5em 4em 8em 14em / 2em 20em 8em 10em;
    -moz-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
    -webkit-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
    position: absolute:absolute;
  clear: both;
  left: 10px;
  position:fixed;
  margin: 10px;
  padding: 5px;

}
.bounce{
  font-size: 50px;
  color: white;
}
